<img height="20" src="vegetables-shopping-cart-trolley-grocery-logo-icon-design-vector-171090350.jpeg" width="90" alt="Roey Zalta" id="tmg_logo" title="Data Analysis Kimonaim Dataset">
<body style="background-color:tomato;">
    <center><h1 style="color:blue;">Kimonaim Data Analysis By Roey Zalta</h1></center>
</body>

<b><div style ='background:lightgreen;dont-size:15px'> the purpose of this notebook is to conduct a explonatry data analysis in order to provide the best supermarket chain to buy from for each family in different times of the year.</b>

<b><CENTER><div style ='background:red;dont-size:15px'> <div style ='color:white;dont-size:15px'>IF YOU ALREADY RAN THE API IMPORT STAGE, SKIP IT AND GO STRIGH TO THE IMPORT CSV STAGE</CENTER></b>

# importing & merging the data

In [ ]:
#import Kaggle API
!pip install kaggle

In [ ]:
#validate the api file exists in computer
!mkdir ~/.kaggle

In [ ]:
#look for the kimonaim dataset in kaggle
!kaggle datasets list -s 'kimonaim'

In [ ]:
#import the kimonaim dataset
!kaggle datasets download -d arielpazsawicki/kimonaim

In [ ]:
#unzip the dataset zip file 
!unzip kimonaim.zip

<body style="background-color:tomato;" I imported the prices table and picked only the relavent columns for my analysis>

<b><CENTER><div style ='background:lightgreen;dont-size:15px'> RUN THE CODE FROM HERE IF YOU ALREADY IMPORTED THE API </CENTER></b>

In [59]:
#import pandas libary
import pandas as pd

In [60]:
#import the csv files with the prices
df = pd.read_csv (r'/Users/royzalta/Desktop/Kimonaim Project/allPrices_01-08-2022.csv',usecols=["store_id",'upload_date','PriceUpdateDate', "ItemCode","ItemName","ManufacturerName","UnitQty","ItemPrice"],dtype={"store_id": str, "ItemCode": str,'ItemName':str,'ManufacturerName':str,'UnitQty':str,'ItemPrice':float},parse_dates=['PriceUpdateDate'],dayfirst=True)

In [61]:
#import the csv file with the chain names and the georgraphic data
df_2 = pd.read_csv (r'/Users/royzalta/Desktop/Kimonaim Project/stores_all.csv',dtype={"StoreId": str})

In [62]:
#now lets merge the tables
df_panel = df.merge(df_2, how = 'left', left_on = 'store_id', right_on = 'StoreId')

# Viewing and inspecting data

In [63]:
#view the table columns
df_panel.columns

Index(['store_id', 'upload_date', 'PriceUpdateDate', 'ItemCode', 'ItemName',
       'ManufacturerName', 'UnitQty', 'ItemPrice', 'ChainName', 'SubChainId',
       'SubChainName', 'StoreId', 'StoreName', 'Address', 'City', 'ZipCode'],
      dtype='object')

<div style ='background:lightgreen;dont-size:15px'> First,lets understand the data. observe each column abd produce quick satistical information

In [64]:
#show the descriptive statistics for the relavent columns
df_panel[['ManufacturerName','ChainName','StoreName','City']].describe()

       ManufacturerName ChainName          StoreName      City
count          18081068  17505897           17505897  17159485
unique             6650         6                444       137
top             לא ידוע    שופרסל  שלי ת"א- בן יהודה   תל אביב
freq            1470027  16445070             552128   1726435

<div style ='background:lightgreen;dont-size:15px'> we can understand from the descriptive statistics the following facts: <br> 
    1. there are nulls which we'll need to check and deal with before analysis. <br>
    2. Shufersal appears te most (either it has the highest amount of procuts or/and it changed the prices more often than other.<br>
    3. the amount of stores distribute diffrently in each chain and it need to be consider further, when prices will bee comapred.

# Data Cleaning

In [65]:
#check % of  null values we have in each column
df_panel.isnull().sum(axis = 0)
# dfotal = df_panel.count()
# dfnull/dfotal*100

store_id                  0
upload_date               0
PriceUpdateDate           0
ItemCode                  0
ItemName                  0
ManufacturerName     867025
UnitQty                   0
ItemPrice                 0
ChainName           1442196
SubChainId          1854255
SubChainName        1918921
StoreId             1442196
StoreName           1442196
Address             1479673
City                1788608
ZipCode             5721915
dtype: int64

In [66]:
#drop lines where item code is null
df_panel['ChainName'].dropna(inplace=True)

In [67]:
df_panel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18948093 entries, 0 to 18948092
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   store_id          object
 1   upload_date       object
 2   PriceUpdateDate   datetime64[ns]
 3   ItemCode          object
 4   ItemName          object
 5   ManufacturerName  object
 6   UnitQty           object
 7   ItemPrice         float64
 8   ChainName         object
 9   SubChainId        float64
 10  SubChainName      object
 11  StoreId           object
 12  StoreName         object
 13  Address           object
 14  City              object
 15  ZipCode           object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 2.4+ GB

In [68]:
#convert itemcode datatype to integer
df_panel.astype({"ItemCode": int})

,store_id,upload_date,PriceUpdateDate,ItemCode,ItemName,ManufacturerName,UnitQty,ItemPrice,ChainName,SubChainId,SubChainName,StoreId,StoreName,Address,City,ZipCode
0,001,2020-05-15,2013-06-02 10:29:00,7290000040042,יוגורט יופלה תות3% 150גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
1,001,2020-05-15,2013-06-02 10:29:00,7290000040066,יופלה דובדבן3% 150 גרם,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
2,001,2020-05-15,2013-06-02 10:29:00,7290000040080,יוגורט יופלה אפרסק3% 150,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
3,001,2020-05-15,2013-06-02 10:29:00,7290105368928,שמנת 9% יטבתה מהדרין200מ,מחלבת יטבתה,מיליליטרים,3.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
4,001,2020-05-15,2013-06-02 10:31:00,7290000051376,יופלה דיאט אננס 0% 150גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18948088,634,2022-08-01,2022-07-26 15:10:00,9005800317014,פילינג אורז עור עדין75מל,כללי,מיליליטרים,19.9,שופרסל,5.0,Be,634,BE בת ים,קניון בת ים יוספטל 92,בת ים,NaN
18948089,634,2022-08-01,2021-06-04 05:37:00,90891131006,"סדיניות ח""פ 76*76 10 יחי",QUALITY FIRST,יחידה,31.9,שופרסל,5.0,Be,634,BE בת ים,קניון בת ים יוספטל 92,בת ים,NaN
18948090,634,2022-08-01,2021-06-04 05:37:00,90891248520,סופגן אולטימייט לנשים,QUALITY FIRST,יחידה,19.9,שופרסל,5.0,Be,634,BE בת ים,קניון בת ים יוספטל 92,בת ים,NaN
18948091,634,2022-08-01,2021-06-04 05:37:00,90891500086,תחתונים L סופגים 10 יח',נובל חייגיאן,יחידה,44.9,שופרסל,5.0,Be,634,BE בת ים,קניון בת ים יוספטל 92,בת ים,NaN
18948092,634,2022-08-01,2021-12-28 14:46:00,9310088007015,8 תחבושות דיפנד לילה,חוגלה קימברלי,יחידה,19.9,שופרסל,5.0,Be,634,BE בת ים,קניון בת ים יוספטל 92,בת ים,NaN

In [69]:
#delete rows where item price is higher than 100    
indexPrice = df_panel[ (df_panel['ItemPrice'] >= 100) ].index
df_panel.drop(indexPrice , inplace=True)
df_panel.head(15)

,store_id,upload_date,PriceUpdateDate,ItemCode,ItemName,ManufacturerName,UnitQty,ItemPrice,ChainName,SubChainId,SubChainName,StoreId,StoreName,Address,City,ZipCode
0,001,2020-05-15,2013-06-02 10:29:00,7290000040042,יוגורט יופלה תות3% 150גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
1,001,2020-05-15,2013-06-02 10:29:00,7290000040066,יופלה דובדבן3% 150 גרם,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
2,001,2020-05-15,2013-06-02 10:29:00,7290000040080,יוגורט יופלה אפרסק3% 150,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
3,001,2020-05-15,2013-06-02 10:29:00,7290105368928,שמנת 9% יטבתה מהדרין200מ,מחלבת יטבתה,מיליליטרים,3.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
4,001,2020-05-15,2013-06-02 10:31:00,7290000051376,יופלה דיאט אננס 0% 150גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
5,001,2020-05-15,2013-06-02 10:31:00,7290000057552,יופלה עוגת גבינה,NaN,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
6,001,2020-05-15,2013-06-02 10:31:00,7290004119225,יופלה אננס 3% 150 גרם,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
7,001,2020-05-15,2013-06-02 10:31:00,7290004120108,יופלה דובדבן 0% 150 גרם,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
8,001,2020-05-15,2013-06-02 10:31:00,7290004121754,יופלה קרם גב.ותות3% 150ג,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
9,001,2020-05-15,2013-06-02 10:31:00,7290004124205,יופלה דיאט תות0% 150 גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
10,001,2020-05-15,2013-06-02 10:31:00,7290004126759,יופלה פירות יער0% 150 גר,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
11,001,2020-05-15,2013-06-02 10:31:00,7290004130916,יופלה פירות יער+שמנת150ג,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
12,001,2020-05-15,2013-06-02 10:31:00,7290004134945,יופלה מוקה 3% שומן 150 ג,תנובה בעמ,גרמים,5.2,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
13,001,2020-05-15,2013-10-23 10:09:00,7290000940694,נבטי חמניות יחידה,---,יחידה,9.0,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
14,001,2020-05-15,2013-10-23 10:09:00,7290000961484,נבטוטים יחידה,---,יחידה,9.0,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504

In [33]:
#creating a new group by for the chain name 
dg_group_chain = df_panel.groupby('ChainName')

<div style ='background:lightgreen;dont-size:15px'>  since we are interested in comparing the retailers, we are only interested in products that are sold in each of them. Let's take a look at how many products are sold in each retailer:

In [34]:
# analyze the number of disitnct products in each chain 
dg_group_chain['ItemCode'].nunique()

ChainName
יינות ביתן          24569
מ. יוחננוף ובניו    15622
מגה בעיר            25883
רמי לוי             14637
רמי לוי בשכונה      19764
שופרסל              78730
Name: ItemCode, dtype: int64

<div style ='background:lightgreen;dont-size:15px'> Shfersal sells significantly wider range of products. let's organize the data by filter only the mutural products.

In [35]:
#lets find all disitict item codes in rami levi 
mask1 =df_panel[df_panel['ChainName'] == 'רמי לוי']
only_rami = mask1['ItemCode'].unique()
only_rami_1 = pd.DataFrame(only_rami, columns = ['ItemCode'])

In [36]:
#show only the item which shows in disitnct rami levi
df_panel_2 = only_rami_1.merge(df_panel, how = 'left', on = 'ItemCode')
df_panel_2
df_panel_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15269803 entries, 0 to 15269802
Data columns (total 16 columns):
 #   Column            Dtype
---  ------            -----
 0   ItemCode          object
 1   store_id          object
 2   upload_date       object
 3   PriceUpdateDate   datetime64[ns]
 4   ItemName          object
 5   ManufacturerName  object
 6   UnitQty           object
 7   ItemPrice         float64
 8   ChainName         object
 9   SubChainId        float64
 10  SubChainName      object
 11  StoreId           object
 12  StoreName         object
 13  Address           object
 14  City              object
 15  ZipCode           object
dtypes: datetime64[ns](1), float64(2), object(13)
memory usage: 1.9+ GB

In [37]:
#validate that the number of items for each retailer is now smaller than 14637
agg_chain = df_panel_2.groupby('ChainName')
agg_chain['ItemCode'].nunique()

ChainName
יינות ביתן          13598
מ. יוחננוף ובניו    11089
מגה בעיר            13774
רמי לוי             14637
רמי לוי בשכונה      13223
שופרסל              14637
Name: ItemCode, dtype: int64

In [38]:
#convert the dataframe to series 
headerNames = ["ItemCode", "store_id", "upload_date","PriceUpdateDate","ItemName","ManufacturerName","UnitQty",
"ChainName","SubChainId","SubChainName","StoreId","StoreName","Address","City","ZipCode","ItemPrice"]
df_panel_2.columns = headerNames
type(df_panel_2.columns)

pandas.core.indexes.base.Index

In [53]:
df_panel_2['ItemPrice'].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

<center><b><div style ='background:lightgreen;dont-size:15px'> Finally ! we have a validation that our new panel 'df_panel_2' contains only items which are mutural to all retailers<br>
    now we can start our analysis with proper clean data</b></center>

# Univariate Analysis

<div style ='background:lightgreen;dont-size:15px'> in order to analyze the change of prices, I'll analyze the change of item prices based on following items groups:<br>
    1. Breads <br>
    2. Milk <br>
    3. Eggs <br>
    4. Cucambers <br>
    5. Tomatoes <br>
    6. Potatoes <br>
    7. Lettuce <br>
    8. Apples <br>
    9. Bananas <br>
    10. Rice <br>
    11. Pasta <br>
    12. Tuna Canned <br>
    13. Cottage Cheese <br>
    14. Hard Cheese

In [41]:
#create seperate dataframes for each type of products:
bread = df_panel_2.loc[df_panel_2['ItemName'].str.contains('לחם')]
# bread
milk = df_panel_2.loc[df_panel_2['ItemName'].str.contains('חלב')]
# milk
eggs = df_panel_2.loc[df_panel_2['ItemName'].str.contains('ביצים')]
# eggs
cucambers = df_panel_2.loc[df_panel_2['ItemName'].str.contains('מלפפון')]
# cucambers
tomatoes = df_panel_2.loc[df_panel_2['ItemName'].str.contains('עגבני')]
# tomatoes
potatoes = df_panel_2.loc[df_panel_2['ItemName'].str.contains('תפוח אדמה')]
# potatoes
lettuce = df_panel_2.loc[df_panel_2['ItemName'].str.contains('חסה')]
# lettuce
apples = df_panel_2.loc[df_panel_2['ItemName'].str.contains('תפוח עץ')]
# apples
bananas = df_panel_2.loc[df_panel_2['ItemName'].str.contains('בננות')]
# bananas
rice = df_panel_2.loc[df_panel_2['ItemName'].str.contains('אורז')]
# rice
pasta = df_panel_2.loc[df_panel_2['ItemName'].str.contains('פסטה')]
# pasta
tuna = df_panel_2.loc[df_panel_2['ItemName'].str.contains('טונה')]
# tuna
cottage_cheese = df_panel_2.loc[df_panel_2['ItemName'].str.contains('קוטג')]
# cottage_Cheese
hard_cheese = df_panel_2.loc[df_panel_2['ItemName'].str.contains('גבינה צהובה')]
# hard Cheese

<div style ='background:lightgreen;dont-size:15px'> in order to see the change of prices,lets see which item code appears the most in each group

In [42]:
#convert the dataframe to series 
headerNames = ["ItemCode", "store_id", "upload_date","PriceUpdateDate","ItemName","ManufacturerName","UnitQty",
"ChainName","SubChainId","SubChainName","StoreId","StoreName","Address","City","ZipCode","ItemPrice"]
bread.columns = headerNames
milk.columns = headerNames
eggs.columns = headerNames
cucambers.columns = headerNames
tomatoes.columns = headerNames
potatoes.columns = headerNames
lettuce.columns = headerNames
apples.columns = headerNames
bananas.columns = headerNames
rice.columns = headerNames
pasta.columns = headerNames
tuna.columns = headerNames
cottage_cheese.columns = headerNames
hard_cheese.columns = headerNames

In [57]:
#which item appeares the most in each group?
print(bread[["ItemName","ItemCode","ItemPrice"]].mode())
print(milk[["ItemName","ItemCode","ItemPrice"]].mode())
print(eggs[["ItemName","ItemCode","ItemPrice"]].mode())
print(cucambers[["ItemName","ItemCode","ItemPrice"]].mode())
print(tomatoes[["ItemName","ItemCode","ItemPrice"]].mode())
print(potatoes[["ItemName","ItemCode","ItemPrice"]].mode())
print(lettuce[["ItemName","ItemCode","ItemPrice"]].mode())
print(apples[["ItemName","ItemCode","ItemPrice"]].mode())
print(bananas[["ItemName","ItemCode","ItemPrice"]].mode())
print(rice[["ItemName","ItemCode","ItemPrice"]].mode())
print(pasta[["ItemName","ItemCode","ItemPrice"]].mode())
print(tuna[["ItemName","ItemCode","ItemPrice"]].mode())
print(cottage_cheese[["ItemName","ItemCode","ItemPrice"]].mode())
print(hard_cheese[["ItemName","ItemCode","ItemPrice"]].mode())

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(bread[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(milk[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(eggs[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:5: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(cucambers[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:6: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(tomatoes[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(potatoes[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(lettuce[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(apples[["ItemName","ItemCode","ItemPrice"]].mean())
/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(bananas[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64
ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(rice[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(pasta[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(tuna[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(cottage_cheese[["ItemName","ItemCode","ItemPrice"]].mean())

ItemCode    inf
dtype: float64
ItemCode    inf
dtype: float64

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/1214756469.py:15: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(hard_cheese[["ItemName","ItemCode","ItemPrice"]].mean())

<div style ='background:lightgreen;dont-size:15px'> now that we have the items we would like to create a time eries which present the change in their prices

In [44]:
items_to_analyze = ['7290014940901','7290107932080','7296073398639'
'7290113192539','7290002019794','7290000000596','7296073108269','7290000963518'
'7290014021501','7290000211442','7290000060781','7290005287206','7290002868996','7296073515630']
mask_1 =df_panel_2['ItemCode'].isin(items_to_analyze)
df_panel_time_series = df_panel_2[mask_1]
df_panel_time_series

,ItemCode,store_id,upload_date,PriceUpdateDate,ItemName,ManufacturerName,UnitQty,ChainName,SubChainId,SubChainName,StoreId,StoreName,Address,City,ZipCode,ItemPrice
26047,7290002019794,001,2020-05-15,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
26048,7290002019794,001,2020-05-16,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
26049,7290002019794,001,2020-05-17,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
26050,7290002019794,001,2020-05-30,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
26051,7290002019794,001,2020-05-31,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11902126,7290000211442,608,2022-08-01,2014-03-18 09:08:00,"אורז פרסי קלאסי 1ק""ג","סוגת תעשיות בע""\מ",קילוגרמים,7.9,שופרסל,6.0,יש חסד,608,יש חסד ירושלים-קרית שאול,נאג'רה 2,ירושלים,NaN
11902127,7290000211442,609,2022-08-01,2013-12-22 11:00:00,"אורז פרסי קלאסי 1ק""ג","סוגת תעשיות בע""\מ",קילוגרמים,7.9,שופרסל,6.0,יש חסד,609,יש חסד אלעד-ניסים גאון,ניסים גאון 79,אלעד,NaN
11902128,7290000211442,610,2022-08-01,2013-12-22 07:19:00,"אורז פרסי קלאסי 1ק""ג","סוגת תעשיות בע""\מ",קילוגרמים,7.9,שופרסל,6.0,יש חסד,610,יש חסד ירושלים- רמת שלמה,ברכת אברהם 22,ירושלים,NaN
11902129,7290000211442,610,2022-08-01,2013-12-22 07:19:00,"אורז פרסי קלאסי 1ק""ג","סוגת תעשיות בע""\מ",קילוגרמים,7.9,מגה בעיר,1.0,1,610,"מגה רובע ט ב""ש יו",42 שדרות י-ם,באר-שבע,201602
11902130,7290000211442,611,2022-08-01,2013-12-19 10:00:00,"אורז פרסי קלאסי 1ק""ג","סוגת תעשיות בע""\מ",קילוגרמים,7.9,שופרסל,6.0,יש חסד,611,יש חסד בני ברק- השומר,השומר 10,בני ברק,5137705

In [55]:
df_panel_time_series[["ItemPrice"]].mean()

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/3949332771.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_panel_time_series[["ItemPrice"]].mean()

Series([], dtype: float64)

In [45]:
headerNames = ["ItemCode", "store_id", "upload_date","PriceUpdateDate","ItemName","ManufacturerName","UnitQty",
"ChainName","SubChainId","SubChainName","StoreId","StoreName","Address","City","ZipCode","ItemPrice"]
df_panel_time_series.columns = headerNames

In [46]:

df_panel_time_series.groupby(['ChainName','PriceUpdateDate']).agg({'PriceUpdateDate' : ['min', 'mean', 'max']})

                                  PriceUpdateDate                      \
                                              min                mean
ChainName PriceUpdateDate
1.5       2020-02-21 09:53:00 2020-02-21 09:53:00 2020-02-21 09:53:00
          2020-11-15 14:48:00 2020-11-15 14:48:00 2020-11-15 14:48:00
          2020-11-16 09:11:00 2020-11-16 09:11:00 2020-11-16 09:11:00
          2020-11-16 10:24:00 2020-11-16 10:24:00 2020-11-16 10:24:00
          2020-11-16 13:59:00 2020-11-16 13:59:00 2020-11-16 13:59:00
...                                           ...                 ...
27.9      2021-05-26 11:18:30 2021-05-26 11:18:30 2021-05-26 11:18:30
          2021-05-26 15:52:32 2021-05-26 15:52:32 2021-05-26 15:52:32
          2021-05-27 18:09:04 2021-05-27 18:09:04 2021-05-27 18:09:04
29.9      2019-06-23 08:22:44 2019-06-23 08:22:44 2019-06-23 08:22:44
          2019-06-23 10:27:58 2019-06-23 10:27:58 2019-06-23 10:27:58


                                              max
ChainName PriceUpdateDate
1.5       2020-02-21 09:53:00 2020-02-21 09:53:00
          2020-11-15 14:48:00 2020-11-15 14:48:00
          2020-11-16 09:11:00 2020-11-16 09:11:00
          2020-11-16 10:24:00 2020-11-16 10:24:00
          2020-11-16 13:59:00 2020-11-16 13:59:00
...                                           ...
27.9      2021-05-26 11:18:30 2021-05-26 11:18:30
          2021-05-26 15:52:32 2021-05-26 15:52:32
          2021-05-27 18:09:04 2021-05-27 18:09:04
29.9      2019-06-23 08:22:44 2019-06-23 08:22:44
          2019-06-23 10:27:58 2019-06-23 10:27:58

[4504 rows x 3 columns]

In [47]:
#What is the start and end date of the time series data set we are working with?
df_panel_time_series['PriceUpdateDate'].min(), df_panel_time_series['PriceUpdateDate'].max()

(Timestamp('2013-01-02 16:15:00'), Timestamp('2022-08-01 09:26:00'))

In [48]:
#we can use this to get the length of our time series:
df_panel_time_series['PriceUpdateDate'].max() - df_panel_time_series['PriceUpdateDate'].min()

Timedelta('3497 days 17:11:00')

In [49]:
df_panel_time_series['MonthUpdatePrice'] = df_panel_time_series['PriceUpdateDate'].dt.month
df_panel_time_series['YearUpdatePrice'] = df_panel_time_series['PriceUpdateDate'].dt.year
df_panel_time_series.head()

/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/3624628330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panel_time_series['MonthUpdatePrice'] = df_panel_time_series['PriceUpdateDate'].dt.month
/var/folders/12/6ffsxv853rdfsv44phqxjt400000gn/T/ipykernel_51732/3624628330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_panel_time_series['YearUpdatePrice'] = df_panel_time_series['PriceUpdateDate'].dt.year

,ItemCode,store_id,upload_date,PriceUpdateDate,ItemName,ManufacturerName,UnitQty,ChainName,SubChainId,SubChainName,StoreId,StoreName,Address,City,ZipCode,ItemPrice,MonthUpdatePrice,YearUpdatePrice
26047,7290002019794,001,2020-05-15,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504,2,2015
26048,7290002019794,001,2020-05-16,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504,2,2015
26049,7290002019794,001,2020-05-17,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504,2,2015
26050,7290002019794,001,2020-05-30,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504,2,2015
26051,7290002019794,001,2020-05-31,2015-02-10 08:38:00,רסק עגבניות מרוכז100גר,פרי ניר,גרמים,2.1,שופרסל,1.0,שופרסל שלי,001,"שלי ת""א- בן יהודה",בן יהודה 79,תל אביב,6343504,2,2015